* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

#dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  padding: 30px;
  font-size: 24px;
  background-color: #fff;
  overflow: hidden;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

#read[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: #ccc 1px solid;
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#openDialog {
  font-size: 24px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  width: 200px;
}

.center-btn {
  text-align: center;
}

#openDialog:hover {
  background-color: #ccc;
  border-radius: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-top: #ccc 1px solid;
  display: flex;
  justify-content: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.book-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px #ccc inset;
}

.book-card > h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.btn-remove {
  margin: auto;
  margin-top: 10px;
}
